
.container {
		background-image: url("C:/case homework/TriviaGame/assets/images/bw.PNG");
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		}


.header {
		font-family: 'Creepster', cursive;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		font-size: 180px; 
		text-align: center;
		line-height: 10px;
		margin-top: 100px;
		}



.directions {
		font-family: 'Creepster', cursive;
		font-size: 34px;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		line-height: 25px;
		background-image: url("C:/case homework/TriviaGame/assets/images/start.gif");
		height: 340px;
		width: 625px;
		align-content: center;
		margin-top: 120px;
		margin-left: 450px;
		padding-top: 15px;
    	border: 2px solid red;
    	
		}

.button {
		float: left;
		padding-left: 60px;
		padding-top: 45px;
		}



.aside {
		float: right;
		font-family: 'Creepster', cursive;
		font-size: 33px;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		padding-left: 10px;
		padding-top: 45px;
		}

.question1 {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 50px;
		font-weight: bold;
		line-height: 65px;
		background-image: url("C:/case homework/TriviaGame/assets/images/1.gif");
		height: 340px;
		width: 625px;
		align-content: center;
		margin-left: 450px;
		margin-top: 175px;
		padding-top: 20px;
		border: 2px solid red;
			}

.horrormp3 {
		display: none;
			}

.timer {
		font-family: 'Creepster', cursive;
		color: red;
		display: none;
		text-shadow: 2px 2px 5px yellow;
		height: 35px;
		width: 700px;
		font-size: 60px;
		font-weight: bold; 
		text-align: center;
		line-height: 75px;
		margin-left: 425px;
		margin-top: 25px;
		padding-bottom: 20px;
		}

.question2 {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		line-height: 55px;
		background-image: url("C:/case homework/TriviaGame/assets/images/2.gif");
		height: 340px;
		width: 625px;
		align-content: center;
		margin-left: 450px;
		margin-top: 175px;
		padding-top: 20px;
		border: 2px solid red;
			}

.question3 {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 49px;
		font-weight: bold;
		line-height: 60px;
		background-image: url("C:/case homework/TriviaGame/assets/images/3.gif");
		height: 323px;
		width: 625px;
		align-content: center;
		margin-left: 450px;
		margin-top: 175px;
		padding-top: 20px;
		border: 2px solid red;
			}

.question4 {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		line-height: 50px;
		background-image: url("C:/case homework/TriviaGame/assets/images/4.gif");
		height: 340px;
		width: 625px;
		align-content: center;
		margin-left: 450px;
		margin-top: 175px;
		padding-top: 20px;
		border: 2px solid red;
    		}

.question5 {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		line-height: 38px;
		background-image: url("C:/case homework/TriviaGame/assets/images/5.gif");
		height: 230px;
		width: 450px;
		align-content: center;
		margin-left: 550px;
		margin-top: 175px;
		padding-top: 5px;
		border: 2px solid red;
			}


.wrongfor1 {
	background-image: url("C:/case homework/TriviaGame/assets/images/wrongfor1.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		
}



.wrongfor2 {
	background-image: url("C:/case homework/TriviaGame/assets/images/wrongfor2.jpg");
	font-family: 'Creepster', cursive;
	display: none;
	color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		
}


.wrongfor3 {
	background-image: url("C:/case homework/TriviaGame/assets/images/wrongfor3.PNG");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}
	
.wrongfor4 {
	background-image: url("C:/case homework/TriviaGame/assets/images/wrongfor4.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

.wrongfor5 {
	background-image: url("C:/case homework/TriviaGame/assets/images/wrongfor5.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

    .correctfor1 {
	background-image: url("C:/case homework/TriviaGame/assets/images/correctfor1.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

    	.correctfor2 {
	background-image: url("C:/case homework/TriviaGame/assets/images/correctfor2.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

    	.correctfor3 {
	background-image: url("C:/case homework/TriviaGame/assets/images/correctfor3.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

    	.correctfor4 {
	background-image: url("C:/case homework/TriviaGame/assets/images/correctfor4.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

    	.correctfor5 {
	background-image: url("C:/case homework/TriviaGame/assets/images/correctfor5.jpg");
	font-family: 'Creepster', cursive;
	display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    	}

    .rantime1 {
    	background-image: url("C:/case homework/TriviaGame/assets/images/rantime.PNG");
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		 }

		.rantime2 {
    	background-image: url("C:/case homework/TriviaGame/assets/images/rantime.PNG");
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		 }

		.rantime3 {
    	background-image: url("C:/case homework/TriviaGame/assets/images/rantime.PNG");
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		 }

		.rantime4 {
    	background-image: url("C:/case homework/TriviaGame/assets/images/rantime.PNG");
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		 }

		.rantime5 {
    	background-image: url("C:/case homework/TriviaGame/assets/images/rantime.PNG");
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		text-align: center;
		font-size: 100px;
		padding-top: 20px;
		line-height: 100px;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		 }



  .continuebutton {
  		display: none;
  		margin-left: 150px;
  		margin-top: 110px;
		float: left;
		border: 2px solid red;
  	}

  	.continuebutton2 {
  		display: none;
  		margin-left: 150px;
  		margin-top: 110px;
		float: left;
		border: 2px solid red;
  	}

  	.continuebutton3 {
  		display: none;
  		margin-left: 150px;
  		margin-top: 110px;
		float: left;
		border: 2px solid red;
  	}

  	.continuebutton4 {
  		display: none;
  		margin-left: 150px;
  		margin-top: 110px;
		float: left;
		border: 2px solid red;
  	}

  	.continuebutton5 {
  		display: none;
  		margin-left: 150px;
  		margin-top: 110px;
		float: left;
		border: 2px solid red;
  	}



  	.arrow {
  		display: none;
  		position: fixed;
		margin-left: 500px;
		margin-top: 200px;
		color: red;
		}

	.text {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-shadow: 2px 2px 5px yellow;
		position: static;
		font-size: 50px;
		line-height: 0px;
		margin-left: 475px;
		margin-top: 225px;

		}


.score {
		
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-align: center;
		text-shadow: 2px 2px 5px yellow;
		font-size: 175px;
		line-height: 130px;
		min-width: 100%;
		min-height: 100%;
		padding-top: 30px;
		position: fixed;
		top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
		}

.results {
		font-family: 'Creepster', cursive;
		display: none;
		color: red;
		text-align: center;
		text-shadow: 2px 2px 5px yellow;
		font-size: 100px;
		line-height: 100px;
		padding-top: 175px;

}

